* {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}